[submodule "buildroot"]
	path = buildroot
	url = git@github.com:Military-Vehicle-Detection/buildroot.git
	branch = 2022.08.x
[submodule "external/kernel"]
	path = external/kernel
	url = git@github.com:Military-Vehicle-Detection/kernel.git
	branch = stable-5.10-rock5
[submodule "external/uboot"]
	path = external/uboot
	url = git@github.com:Military-Vehicle-Detection/u-boot.git
	branch = stable-5.10-rock5
[submodule "external/rkbin"]
	path = external/rkbin
	url = git@github.com:Military-Vehicle-Detection/rkbin.git
[submodule "external/buildroot.dl"]
	path = external/buildroot.dl
	url = git@github.com:Military-Vehicle-Detection/buildroot.dl.git
[submodule "external/app/vision_console"]
	path = external/app/vision_console
	url = git@github.com:Military-Vehicle-Detection/vision_console.git
